@{
    ViewBag.Title = "Inicio";
}

<div class="row">
    <div class="col-xs-12">
        <h1>Bienvenido</h1>
        <br />
        <h4>Favor de usar las opciones del menú en la parte superior de la pantalla</h4>
    </div>
</div>